version: "3.8"
############### AI Container [AI development] is used by the AI team when needed by this command: 
#############   docker-compose -f docker-compose.yml -f docker-compose.ai.yml up -d

services:
  ai:
    build:
      context: ./ai
      dockerfile: Dockerfile
    volumes:
      - ./ai:/workspace/ai:cached
    command: uvicorn app:app --host 0.0.0.0 --port 8000 --reload
    networks:
      - dev-network
    ports:
      - "8000:8000"

networks:
  dev-network:
    external: true
