version: "3.8"

services:
  ############## Dev Container (Frontend + Backend)
  dev:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - .:/workspace:cached
    command: sleep infinity
    networks:
      - dev-network
    ports:
      - "3000:3000"   # React
      - "5000:5000"   # Node backend
    depends_on:
      - mongo
      
      
      
    

  ############## MongoDB Database
  mongo:
    image: mongo:7
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: devuser
      MONGO_INITDB_ROOT_PASSWORD: devpass
    ports:
      - "27018:27017"    # For local GUI tools (Compass)
    volumes:
      - mongo-data:/data/db
    networks:
      - dev-network
      
 ### THE CONNECTION WITH THE DB through mongosh:   "mongodb://devuser:devpass@localhost:27018/intelliroomdb?authSource=admin"
# THE CONNECTION WITH THE DB IN THE CODE WILL BE:
# Hostname = mongo
# Port = 27017 (IMPORTANT , The internal port 27017 of the container is used, and mapped to 27018 of the local machine to avoid conflicts) 
# Username = devuser
# Password = devpass
# DB = intelliroomdb

      
      

########## Shared network
networks:
  dev-network:
    driver: bridge

########## Persistent volume for MongoDB
volumes:
  mongo-data:

