version: "3.8"

services:
  dev:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - .:/workspace:cached
    command: sleep infinity
    networks:
      - dev-network
    ports:
      - "3000:3000" # frontend
      - "5000:5000" # backend

networks:
  dev-network:
    driver: bridge
