version: "3.8"

services:
  ############## Dev Container (Frontend + Backend)
  dev:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - .:/workspace:cached
    command: sleep infinity
    networks:
      - dev-network
    ports:
      - "3000:3000"   # React
      - "5000:5000"   # Node backend
    depends_on:
      - mongo
      
      
      
    

  ############## MongoDB Database
  mongo:
    image: mongo:7
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: devuser
      MONGO_INITDB_ROOT_PASSWORD: devpass
    ports:
      - "27017:27017"    # For local GUI tools (Compass)
    volumes:
      - mongo-data:/data/db
    networks:
      - dev-network
      
 ### THE CONNECTION WITH THE DB IN THE CODE WILL BE:   mongoose.connect("mongodb://devuser:devpass@mongo:27017/mydb?authSource=admin");
# THE CONNECTION WITH THE DB IN THE CODE WILL BE:
# mongoose.connect("mongodb://devuser:devpass@mongo:27017/mydb?authSource=admin")
# Hostname = mongo
# Port = 27017
# Username = devuser
# Password = devpass
# DB = mydb

      
      

########## Shared network
networks:
  dev-network:
    driver: bridge

########## Persistent volume for MongoDB
volumes:
  mongo-data:

