.overlay {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-card {
    background: #fff;
    width: 320px;
    padding: 30px;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin: 0 0 10px;
    font-size: 28px;
}

.subtitle {
    color: #8a94a6;
    margin-bottom: 30px;
}

.social-btns {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.btn:hover {
    background-color: #e0e6ed;
    border-color: #e0e6ed;
}
.btn {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e6ed;
    border-radius: 8px;
    background: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.btn i {
    color: #1877f2;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #e0e6ed;
    border-radius: 8px;
}
.sign-in-btn:hover {
    background-color: #3e40c2;
    border-color: #6366f1;
}
.sign-in-btn {
    width: 100%;
    padding: 14px;
    background-color: #2b2ef7;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.signup-text {
    margin-top: 25px;
    font-size: 14px;
}

.message-banner {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
}

.error-message {
    background-color: #fee2e2;
    color: #dc2626;
    border: 1px solid #fca5a5;
}

.success-message {
    background-color: #dcfce7;
    color: #16a34a;
    border: 1px solid #86efac;
}

img {
    width: 30px;
    height: 30px;
    position: relative;
    top : 3px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;

}